<div class="row mt-5">
  <div class="col-md-9">
    <h3 class="text-uppercase">Editar página</h3>
  </div>
  <div class="col-md-3">
    <%= link_to 'Volver', admin_pages_path, class: 'btn btn-default btn-block' %>
  </div>
</div>

<%= render 'form', page: @page %>
