<div class="row">
  <div class="col-md-9">
    <h2>Editar página</h2>
  </div>
  <div class="col-md-3">
    <%= link_to 'Volver', admin_pages_path, class: 'btn btn-default btn-block btn-sm m-t-20 text-uppercase' %>
  </div>
</div>

<%= render 'form', page: @page %>
