<div class="row">
  <div class="col-md-9">
    <h3 class="text-uppercase">Editar Banner</h3>
  </div>
  <div class="col-md-3">
    <%= link_to 'Volver', admin_slides_path, class: 'btn btn-default btn-block btn-sm m-t-20 text-uppercase' %>
  </div>
</div>

<%= render 'form', slide: @slide %>
