<% if user_signed_in? %>
<nav class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
  <div class="container">
    <div class="navbar-header">
      <button id="toggle-navbar" type="button" class="navbar-toggle" data-toggle="<%= 'offcanvas' if user_signed_in?%>" data-target=".navmenu" data-canvas="body" data-user="<%=user_signed_in?%>">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="Nnodes" src="<%= asset_path 'logo.svg' %>">
      </a>
    </div>
  </div>
</nav>
<% end %>
