<div class="banner mx-lg-n5">
  <div class="content">
    <%= render partial: 'slides/home_carousel', locals: { slides: @slides } %>
  </div>
</div>
<div class="row" style="background: #f2f2f2;padding: 40px 0;">
  <div class="col-md-4 text-center">
    <i class="feather-calendar  " style="font-size:60px;display:block;"></i>
    <h4 class="text-uppercase">turpis in congue tempor</h4>
  </div>
  <div class="col-md-4 text-center">
    <i class="feather-feather  " style="font-size:60px;display:block;"></i>
    <h4 class="text-uppercase">turpis in congue tempor</h4>
  </div>
  <div class="col-md-4 text-center">
    <i class="feather-clock  " style="font-size:60px;display:block;"></i>
    <h4 class="text-uppercase">turpis in congue tempor</h4>
  </div>
</div>
<div class="row    ">
  <div class="col-md-5">
    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
  </div>
  <div class="col-md-7">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis risus vel luctus rutrum. Curabitur nulla nisi, ultrices vitae tincidunt nec, dapibus vel orci. In hac habitasse platea dictumst. Nulla sagittis velit elit, sit amet tincidunt lorem luctus id. Pellentesque id iaculis leo. Aliquam dolor quam, ornare a erat auctor, molestie iaculis velit. Praesent at nunc fringilla, tincidunt ex non, commodo risus. Aliquam est tortor, dignissim sed purus ut, elementum varius libero. Integer id dolor imperdiet, viverra risus vitae, condimentum libero. Phasellus eu erat in sem blandit aliquam a eget erat. Curabitur eget rutrum orci.

Aliquam interdum, turpis in congue tempor, lectus magna viverra lectus, sed tempus mauris mi id erat. Pellentesque cursus vitae lorem non tincidunt. Proin ipsum enim, rutrum in leo at, scelerisque eleifend justo. Phasellus porttitor eget ligula ac dictum. Aliquam pulvinar purus ut pretium aliquam. Morbi at libero ipsum. Praesent tempor massa ut nulla euismod, in tristique libero aliquam. Donec maximus euismod urna, quis rhoncus ligula elementum at. Phasellus placerat ullamcorper odio. Pellentesque pellentesque, ex nec lacinia vehicula, mi neque congue mauris, a dignissim magna magna in erat. Nulla quis ipsum metus. Donec eget orci dolor. Ut iaculis venenatis arcu eu vehicula. Aenean urna erat, porttitor ut est ac, sodales interdum libero. Nam gravida sapien sapien, bibendum ullamcorper est ultrices eget.

Suspendisse blandit faucibus convallis. Quisque at porta sem. Quisque dictum ut mi a eleifend. Duis lacinia lorem ac nibh pharetra, quis aliquet dui rutrum. Donec aliquet metus non interdum interdum. Suspendisse nunc mi, volutpat eu orci non, sollicitudin aliquam nunc. Nulla ornare elit at eros elementum pretium.</p>
  </div>
</div>
