<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<div class="pg-title">
			<h1 class="osw"> <%= @page.title %> </h1>
		</div>
		<div class="pg-content">
			<%= raw(@page.content) %>
		</div>
		<% if @page.image.exists? %>
		<%= image_tag @page.image.url %>
		<% end %>
	</div>
</div>
