<div class="row">
  <div class="col-md-9">
    <h3 class="text-uppercase"><%= "#{title} Nº #{id}" %></h3>
  </div>
  <div class="col-md-3">
    <div class="btn-group btn-group-justified m-t-20">
      <%= link_to 'Editar', edit_object_path(object_name, id),
                  class: 'btn btn-warning'%>
      <%= link_to 'Volver', objects_index_path(object_name),
                  class: 'btn btn-default' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <table class="table table-striped">
      <caption>Detalles</caption>
      <tbody>
        <%= yield :object_data %>
      </tbody>
    </table>
  </div>
</div>

