<%= form_tag(admin_settings_path, method: "post") do %>
<div class="row mt-5 mb-2">
  <div class="col-md-9">
    <h3 class="text-uppercase">Configuraciones generales</h3>
  </div>
  <div class="col-md-3">
    <%= link_to "Volver", 'javascript:history.go(-1);', class: "btn btn-default btn-block  " %>
  </div>
</div>
<table class="table table-condensed admin-datatable display  ">
  <thead>
    <tr>
      <th>Opciones</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody></tbody>
    <tr class="fields">
      <td class="middle">
        Ejemplo
      </td>
      <td colspan="2">
        <%= text_field_tag 'example', @setting['example'], placeholder: "Ejemplo", class: "form-control" %>
      </td>
    </tr>
  </tbody>
</table>
<div class="form-actions clearfix">
  <%= submit_tag "Guardar", class: "btn btn-success pull-right" %>
</div>
<% end %>
