<% content_for :object_data do %>
      <p>
        <strong>Titulo:</strong>
        <%= @render_scaffold.titulo %>
    </p>
      <p>
        <strong>Contenido:</strong>
        <%= @render_scaffold.contenido %>
    </p>
      <p>
        <strong>User:</strong>
        <%= @render_scaffold.user_id %>
    </p>
  <% end %>

<%= render partial: 'layouts/admin/resource/show',
           locals: {
             title: 'Render Scaffold',
             id: @render_scaffold.id,
             link_edit: edit_render_scaffold_path(@render_scaffold),
             link_back: render_scaffolds_path
           } %>