@import 'bootstrap-sprockets';
@import 'variables';
@import 'bootstrap';
@import 'jasny-bootstrap.min';
@import "bootstrap-datepicker3";
@import "datatables-bootstrap";
@import "jquery.Jcrop";


html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  padding-top: 56px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  &.affix-padding {
    padding-top: 0;
  }
  @media (max-width: 992px) {
    padding-top: 56px;
  }
}
#notice {
  margin: 0;
  &:empty {
    display: none;
  }
}
p {
  &:empty {
    display: none;
  }
}
.alert {
  position: fixed;
  font-size: 14px;
  z-index: 99999999999;
  top: 10px;
  right: 10px;
  min-width: 240px;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.175);
}

.btn-border {
  background: transparent;
  &.btn-primary {
    border: 1px solid $brand-primary;
    color: $brand-primary;
  }
  &.btn-success {
    border: 1px solid $brand-success;
    color: $brand-success;
  }
  &.btn-info {
    border: 1px solid $brand-info;
    color: $brand-info;
  }
  &.btn-warning {
    border: 1px solid $brand-warning;
    color: $brand-warning;
  }
  &.btn-danger {
    border: 1px solid $brand-danger;
    color: $brand-danger;
  }
}
.checkbox-small {
  margin-left: 35px;
  cursor: pointer;
  input {
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: 0;
    border-collapse: initial !important;
    background: transparent;
    -webkit-appearance: none;
    &[type="checkbox"] {
      margin-top: 0;
      margin-left: -30px;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    &[type="radio"] {
      margin-top: 0;
      margin-left: -30px;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    &:before {
      display: table;
      width: 100%;
      height: 100%;
      content: ' ';
      transition: background-color 20ms ease-in-out;
      border-width: 1px;
      border-style: solid;
      border-radius: 28px;
      background: #fff;
      border-color: #ccc;
    }
    &:after {
      position: absolute;
      top: 14%;
      left: 23%;
      display: table;
      width: 14px;
      height: 6px;
      content: ' ';
      transition: opacity 0.05s ease-in-out;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      opacity: 0;
      border: 1px solid #fff;
      border-top: 0;
      border-right: 0;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:checked {
      &:before {
        border-width: 2px;
        border-color: $brand-success;
        background: $brand-success;
      }
      &:after {
        opacity: 1;
      }
    }
  }
  label {
    font-weight: 300;
    cursor: pointer;
  }
  &.inline {
    display: inline-block;
    margin-left: 0;
    .radio, .checkbox {
      display: inline-block;
      padding-right: 10px;
      margin-right: 20px;
      padding-left: 10px;
      margin-top: 0;
      &+.radio,
      &+.checkbox {
        margin-top: 0;
      }
    }
  }
}
.form-control-feedback {
  right: 15px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row-flex-center {
  justify-content: center;
  align-items: center;
}
.full-height-login {
  height: calc(100vh - 116px);
}
.turbolinks-progress-bar {
  @include gradient-horizontal($brand-primary, $brand-success);
}
/*MARGENES*/
.m-t-0 {margin-top:0px !important;}
.m-t-10 {margin-top:10px !important;}
.m-t-20 {margin-top:20px !important;}
.m-t-30 {margin-top:30px !important;}
.m-t-40 {margin-top:40px !important;}
.m-t-50 {margin-top:50px !important;}
.m-t-60 {margin-top:60px !important;}

.m-b-0 {margin-bottom:0px !important;}
.m-b-10 {margin-bottom:10px !important;}
.m-b-20 {margin-bottom:20px !important;}
.m-b-30 {margin-bottom:30px !important;}
.m-b-40 {margin-bottom:40px !important;}
.m-b-50 {margin-bottom:50px !important;}
.m-b-60 {margin-bottom:60px !important;}

.navbar-default {
  &.affix-top {
    background-color: transparent;
    border: none;

    @media (max-width: 992px) {
      .navbar-collapse {
        background: transparentize(black, .2);
      }
    }
  }
  &.affix {
  }
}

.banner {
  margin: 0 -15px;
  position: relative;
  &:after {
    content: '';
    padding-bottom: 53%;
    display: block;
  }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .carousel {
      width: 100%;
      height: 100%;
      .carousel-inner {
        width: 100%;
        height: 100%;
        .item {
          width: 100%;
          height: 100%;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .home-navmenu {
    &.navmenu-default {
      background-color: $brand-primary;
      border-color: #e7e7e7;
      .navmenu-brand {
        width: 210px;
        margin: 20px auto;
        padding: 0;
        .brand {
          width: 110px;
          margin: 0 auto;
          display: block;
        }
        .user {
          p {
            color: white;
            max-width: 160px;
          }
        }
      }
      .navmenu-nav {
        li {
          a {
            color: white;
            padding-left: 20px;
            i, img {
              margin-right: 10px;
            }
            &:hover, &:focus {
              background: lighten($brand-primary, 5%);
              color: white;
            }
          }
          &.active {
            a {
              background: darken($brand-primary, 5%);
              color: white;
              &:hover, &:focus {
                background: darken($brand-primary, 8%);
                color: white;
              }
            }
          }
        }
      }
    }
    &.navmenu,
    .navbar-offcanvas {
      width: 220px;
    }
    &.navmenu-fixed-right,
    .navbar-offcanvas {
     right: 0;
     left: 320px;
    }
    // .navbar-header {
    //   margin-right: 0;
    // }
  }
  .navbar-toggle {
    float: left;
    margin-left: 15px;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  .nnodes {
    font-size: 11px;
    text-align: center;
    a {
      &:hover {
        color: #00adee;
      }
    }
  }
}
