<div class="row">
  <div class="col-md-9">
    <h3 class="text-uppercase">Usuarios</h3>
  </div>
  <div class="col-md-3">
    <%= link_to 'Exportar', admin_users_path(format: :xlsx), class: 'btn btn-primary btn-block btn-sm m-t-20 text-uppercase' %>
  </div>
</div>
<div class="row m-b-15">
  <div class="col-md-2 col-md-offset-8">
    <p class="m-t-10"><small>Desde</small></p>
    <%= text_field_tag 'f_start_date', nil , class: "datepicker nn-date-filter form-control", placeholder: "dd/mm/yyyy", readonly: true %>
  </div>
  <div class="col-md-2">
    <p class="m-t-10"><small>Hasta</small></p>
    <%= text_field_tag 'f_end_date', (Date.today).strftime('%d/%m/%Y'), class: "datepicker nn-date-filter form-control", placeholder: "dd/mm/yyyy", readonly: true %>
  </div>
</div>
<div class="table-responsive">
  <table class="table nn-admin-users-datatable display m-b-20" data-source="<%= admin_users_url(format: 'json') %>">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Registro</th>
        <th>Activo</th>
        <th style="width:140px;" data-orderable="false"></th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>
