<% if user_signed_in? %>
  <footer class="footer" style="padding:20px;">
    <p class="text-center">Desarrollado por <a class="no" href="http://nnodes.com/" target="_blank"><%= image_tag 'Logo_Nnodes_small.png',alt: 'Nnodes S.A.', height: '25px' %></a></p>
  </footer>
<% end %>